<h1>Products</h1>

<div class="productsWrapper">
  <div>
    <div *ngFor="let product of products; trackBy: trackByProductId">
      <h3>
        {{ product.name }}
      </h3>
      <p></p>

      <p *ngIf="product.description">Description: {{ product.description }}</p>

      <button (click)="share()">
        Share
      </button>

      <app-product-alerts [product]="product" (notify)="onNotify()">
      </app-product-alerts>
    </div>
  </div>
  <div class="productBtn">
    <button (click)="getPhones()">Get All Phones</button>
  </div>
</div>
